body
{
    background-color: #5f6c82;
    font-family: 'Open Sans', sans-serif;
    color: #636363;
}

textarea
{
    resize: none;
}

#logo
{
    font-size: 48px;
    text-align: left;
    color: #33bd38;
}

h1
{
    text-align: center;
}

button
{
    width: 200px;
    height: 40px;
}

#container
{
    background-color: #ebebed;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-box-shadow: 7px 7px 5px -1px rgba(5, 5, 12, 1);
    -moz-box-shadow: 7px 7px 5px -1px rgba(5, 5, 12, 1);
    box-shadow: 7px 7px 5px -1px rgba(5, 5, 12, 1);
}

#footer
{
    text-align: center;
    margin-top: 3px;
    color: black;
}

.inputField
{
    clear: both;
    text-align: center;
    padding: 10px;
}

.button
{
    text-align: center;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px;
}

.menu
{
    text-align: center;
}

.radioButton
{
    font-size: 16px;
}

.dropdownMenu
{
    text-align: right;
}

.text
{
    text-align: center;
    font-size: 14px;
}

.window
{
    float: left;
    width: 450px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px;
    border-style: dashed;
}

ul > li
{
    list-style-type:decimal-leading-zero;
    margin-bottom: 7px;
}

.balance
{
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    width: 500px;
    height: 200px;
    clear: both;
    margin-bottom: 30px;
    border: 1px;
    border-style: dashed;
}

.chart
{
    margin-left: auto;
	margin-right: auto;
    width: 500px;
    height: 500px;
    text-align: center;
    border: 1px;
    border-style: dashed;
}

